<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>home</title>
    <title>SSO client2</title>
    <script th:src="@{/js/jquery-3.4.1.min.js}"></script>
</head>

<body>
<h1>SSO tmall Client2</h1>
<a href="http://sso-taobao:8083/client1/index.html">访问Client1</a>
<a href="http://localhost:8082/uaa/logout">退出</a>
<a href="http://localhost:8084/client2/logout">退出</a>
<form id="logout-form" action="/client2/logout" method="post">
    <div>
        <input th:name="${(_csrf.parameterName)}" th:value="${(_csrf.token)}" type="hidden">
    </div>
    <div>
        <input onclick="send()" type="button" value="ajax"/>
    </div>
</form>
<script type="text/javascript">
    function send() {
        //获取表单数据，并序列化
        var formData = $("#logout-form").serializeArray();
        //将序列化数据转为对象
        var formObject = {};
        for (var item in formData) {
            formObject[formData[item].name] = formData[item].value;
        }
        formData = JSON.stringify(formObject);
        alert(formData);
        $.ajax({
            url: "update",
            type: "post",
            data:formData,
            dataType:"json",
            error: function (data) {
                alert(data);
            }
        });
    }
</script>
</body>
</html>
